environment="prod"
cluster_name="unitq"

### VPC Module
vpc= {
    cidr          = "192.168.100.0/24",
    dns_hostnames = true,
    dns_support   = true,
    tag           = "",
    tenancy       = "default",
  }
public_subnets = { us-east-1a = "192.168.100.0/28"}
private_subnets = { us-east-1a = "192.168.100.32/28", us-east-1b = "192.168.100.64/28"}
rds_subnets = { us-east-1a = "192.168.100.96/28", us-east-1b = "192.168.100.128/28"}

### EKS MODULE
roleARN = "arn:aws:iam::619993530046:role/UnitQEKSUser"
worker= {
  instance-type = "m4.2xlarge",
  desired-size  = "4",
  min-size      = "4",
  max-size      = "8"
}

### RDS MODULE
databases= [{
      identifier              = "test",
      allocated_storage       = 10,
      storage_type            = "gp2",
      engine                  = "mysql",
      engine_version          = "8.0.11",
      instance_class          = "db.t2.micro",
      multi_az                = false,
      storage_encrypted       = true,
      backup_retention_period = 1,
      password                = "abc123**",
      username                = "user",      
    },
    {
      identifier              = "test3",
      allocated_storage       = 10,
      storage_type            = "gp2",
      engine                  = "mysql",
      engine_version          = "8.0.11",
      instance_class          = "db.t2.micro",
      multi_az                = false,
      storage_encrypted       = true,
      backup_retention_period = 1,
      password                = "abc123**",
      username                = "user",      
    }
  ]